@model CVBuddy.Models.User

<div class="mb-4"><q><i>@ViewBag.LogoutAreYouSure</i></q></div>

<form asp-action="Logout" asp-controller="Account" method="post">

    <button type="submit" class="btn btn-danger">Logout</button>

</form>

