@model CVBuddy.Models.ChangePassword

<form asp-action="ChangePassword" method="post">
    <div>
        <label asp-for="CurrentPassword">Write your current password</label><br />
        <input asp-for="CurrentPassword" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="NewPassword">Write your new password</label><br />
        <input asp-for="NewPassword" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword">Confirm your new password</label><br />
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    
   
   
    <button type="submit" class="btn btn-primary">Change password</button>
</form>

