@model int

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-6 col-lg-4">
        <div class="mb-3 text-center mt-4">
            <q><i>Are you sure you would permanently like to delete this message?</i></q>
        </div>
        <a asp-action="DeleteMessage" asp-route-mid="@Model" class="btn btn-danger">Delete</a>
    </div>
</div>