@model CVBuddy.Models.Message
<a asp-action="Messages" class="btn btn-primary">Back</a>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
<h2>Sent from @Model.Sender</h2>
<p>@Model.MessageString</p>

