@model List<User>

<h3>Search results</h3>

@if (!Model.Any())
{
    <p class="text-muted">No results found.</p>
}
else
{
    <ul class="list-group">
        @foreach (var user in Model)
        {
            <li class="list-group-item">
                <strong>@user.FirstName @user.LastName</strong>
                <a asp-action="ReadCv" asp-controller="Cv" asp-route-id="@user.OneCv.Cid">See more</a>
            </li>
        }
    </ul>
}