@model User
<a asp-controller="Account" asp-action="Login">Logg in</a>
<form method="post" asp-controller="Account" asp-action="Logout">
<AuthorizeView>
    <Authorized>
        <h2>Denna kod här syns för dig som är inloggat @User.Identity.Name</h2>
        <a asp-controller="Account" asp-action="Logout" class="btn-link">Logout</a>
    </Authorized>
</AuthorizeView>
</form>