@model User



<form method="post" asp-controller="Account" asp-action="Logout">
<AuthorizeView>
    <Authorized>
            <h2>Welcome @User.Identity.Name</h2>
            <a asp-controller="Cv" asp-action="CreateCv">Create cv</a>
            <a asp-controller="Project" asp-action="GetProject">Get all projects</a>
            <a asp-controller="Account" asp-action="Logout" class="btn-link">Logout</a>
    </Authorized>
</AuthorizeView>
</form>

