html {
    font-size: 14px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

img{
    height: 7em;
    width: 7em;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.cv-container {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    background-color: #fff;
    transition: box-shadow 0.2s ease;
    min-width: 20vh;
    width: 50vh;
    background-color: rgba(55, 0, 200, 0.05);
}

.cv-container:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 255, 0.25);
}

.img-file-picker {
    background-color: #e6efff;
}

.read-banner {
    display: flex;
    border: 2px solid #72acf2;
    border-radius: 0 2em 2em 0;
    background-color: #36045c;
    color: aliceblue;
    padding-right: 1em;
}

.interactions-read-banner {
    float: right;
    font-size: 1.5em;
}

.contact-info-read-banner {
    padding: 1em 0 0 1em;
    flex-grow: 2;
}

.content-item {
    padding: 10px 20px;
    margin: 0 20px;
    border: 2px solid black;
    border-radius: 2em;
    background-color: #7abfeb;
}

#notification {
    color: #f2f2f2;
    background-color: #0d6efd;
    border-radius: 50%;
}

