@model CVBuddy.Models.CVInfo.Cv
<form method="post" asp-action="CreateCv">
    <label></label>
    <input type="text"/>
    <label></label>
    <input type="text"/>
    <label></label>
    <input type="text"/>
    <label></label>
    <input type="text"/>

    <button type="submit" class="btn btn-primary">Create</button>
</form>