@model CVBuddy.Models.CVInfo.Cv

<h1 class="alert-warning">Are you sure you want to delete your Cv</h1>

<form asp-action="DeleteCv" method="Post">
    <button type="submit" class="btn-danger">Delete</button>
</form>